@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container{
    width: 50vw;
    display: inline-flex;
    flex-direction: column;
    padding: 9vw;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
}
.h2{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgba(82, 82, 82, 1);
}

.input{
    border: 2px solid rgba(194, 194, 194, 1);
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin: 10px 0px;
}

.btn{
    padding: 8px;
    border-radius: 5px;
    background: rgba(237, 83, 83, 1);
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'DM Sans';
    margin: 30px 0px 10px 0px;
    border: none;
    cursor: pointer;
}

.footer{
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans';
    color: rgba(82, 82, 82, 1);
    margin: 5px 0px;
}

.span{
    color: rgba(0, 0, 0, 1);
    text-decoration-line: underline;
}